.Board {
  position: relative !important;
  width: 98%;
  height: 98vh;
  margin: 1vh auto;
  background-color: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0px 0px 3px var(--default-4);
  overflow: auto;
}
.Board h1 {
  font-size: 40px;
  font-weight: bolder;
  color: rgba(216, 216, 216, 0.788);
}
.AddIcon {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 35px;
  right: 35px;
  background-color: var(--default-4);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  font-size: 30px;
  box-shadow: 0px 0px 10px var(--default-1);
  cursor: pointer;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.AddIcon:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}
.Tabbar {
  width: 100%;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--default-4);
  overflow-x: auto;
  justify-content: flex-start;
}
