.SideBar {
  min-height: 95%;
  width: 100%;
  padding: 20px 0px;
  position: relative;
}
.menu {
  height: 80vh;
  width: 70%;
  align-items: flex-start;
  font-size: 20px;
}
.right_foot {
  color: rgba(136, 136, 136, 0.555);
}
.Button__secondary {
  background: none;
  background-color: var(--default-1);
  color: var(--default-4);
}
