.column {
  flex-direction: column !important;
}
.s-eve {
  justify-content: space-evenly;
}
.s-btw {
  justify-content: space-between;
}
.f-center {
  justify-content: center;
}
.f-start {
  align-items: flex-start;
}
.c-white {
  color: white;
}
.link {
  text-decoration: none;
  color: var(--default-1);
}
.active {
  color: var(--default-3);
}
.Section {
  min-height: 100vh;
}
.Fade-color{
  font-size: 40px;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 35%;
  color: rgba(77, 77, 77, 0.514);
}