*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}
:root {
  --default-1: #f4e1eb;
  --default-2: #d3b1c2;
  --default-3: #a892b2;
  --default-4: #524a57;
}
html {
  overflow-x: hidden;
}
html {
}
body {
}
